@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import "./pe-icon-7-stroke.css";
@import "./helper.css";
@import "./font-awesome.css";
@font-face {
  font-family: 'Aleo-Regular';
  src: url("../fonts/aleo-regular-webfont.eot");
  src: url("../fonts/aleo-regular-webfont.svg");
  src: url("../fonts/aleo-regular-webfont.ttf");
  src: url("../fonts/aleo-regular-webfont.woff");
  src: url("../fonts/aleo-regular-webfont.woff2");
  font-style: normal;
  font-weight: normal;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  }

a {
  text-decoration: none; 
  }

input {
  border: none;
  background-color: transparent; 
  }

button {
  border: none;
  background: transparent; 
  }

.wrapper {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto; 
  }

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url('../../img/top-bg.png');
  height: 740px;
  font-family: 'Josefin Sans', Arial, sans-serif;
  }
  .header__title {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    color: #ffff;
    text-transform: uppercase;
    margin-bottom: 15px; 
    }
  .header__subtitle {
    line-height: 1.18;
    letter-spacing: 6.8px;
    text-align: center;
    font-size: 22px;
    color: #ffff;
    margin-bottom: 50px; 
    }
  .header__search {
    position: relative;
    max-width: 655px;
    height: 65px;
    background-color: #ffff;
    margin-bottom: 118px; 
    }
    .header__search input {
      width: 500px;
      height: 100%;
      padding: 0 10px;
      padding-right: 150px;
      font-size: 14px;
      font-family: 'Josefin Sans', Arial, sans-serif;
      letter-spacing: 0.2em;
      text-align: center;
      }
      .header__search input:focus {
        border: 1px solid #5474fd; 
        }
  .header__btn-search {
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 145px;
    height: 63px;
    background-color: #5474fd;
    font-family: 'Aleo-Regular', Arial, sans-serif;
    font-size: 14px;
    color: #ffff;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px; 
    }
    .header__btn-search:hover {
      background: #224bfc; 
      }
  .header .pe-7s-search:before {
    font-size: 24px;
    color: #ffff; 
    }
  .header__scroll-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
    color: #ffff; 
    }
  .header__name-btn {
    font-size: 14px;
    font-family: 'Josefin Sans', Arial, sans-serif;
    letter-spacing: 0.2em;
    padding-bottom: 14px; 
    }
  .header .fa-angle-down:before {
    font-size: 14px;
    color: #ffff; 
    }

.nav-bar {
  background-color: #5474fd; 
  }
  .nav-bar:hover {
    color: #000;
    cursor: pointer; 
    }
  .nav-bar__wrapper {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    }

  .nav-bar__logo {
    padding: 0;
    font-weight: bold;
    font-size: 24px; 
    }
    .nav-bar__logo a {
      color: #ffff;
      text-transform: uppercase;
      font-family: 'Josefin Sans', Arial, sans-serif; 
      }
  .nav-bar__nav {
    max-width: 540px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    }
    .nav-bar__nav a {
      color: #ffff;
      text-transform: uppercase;
      font-family: 'Aleo-Regular', Arial, sans-serif; 
      }

.chose-us {
  height: 685px;
  width: 100%;
  background-image: url('../../img/second-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  }
  .chose-us__wrapper {
    padding: 120px 50px 50px;
    position: relative; 
    }

.info {
  display: flex;
  flex-direction: row;
  align-items: center; 
  }
  .info__text {
    width: 50%;
    height: 100%; 
    }
  .info__images {
    position: absolute;
    flex-basis: 50%;
    height: 100%; 
    }

.text {
  padding-top: 70px;
  color: #ffff; 
  }
  .text__title {
    font-size: 36px;
    font-family:'Aleo-Regular', Arial, sans-serif;
    margin-bottom: 60px; 
    }
  .text__description {
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.63;
    letter-spacing: 0.6px;
    color: #e8e8e8;
    }
  .text__button {
    color: #ffff;
    text-transform: uppercase;
    width: 225px;
    height: 60px;
    background-color: #5474fd;
    opacity: 0.9;
    font-family:'Aleo-Regular', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.075em;
    cursor: pointer; 
    }

.images__up-img {
  align-items: center;
  margin-left: 50px;
  margin-bottom: 5px; 
  }

.images__bottom-img {
  margin-left: 120px; 
  }

.guide-bar {
  background-color: #333333; 
  }
  .guide-bar__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 335px; 
    }
  .guide-bar__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    height: 100%; 
    }
  .guide-bar__svg {
    margin-bottom: 24px; 
    }
  .guide-bar__name {
    font-size: 36px;
    font-family: 'Aleo-Regular', Arial, sans-serif;
    color: #ffff; 
    }

.guide-bar__svg {
  height: 60px; 
  }
  .guide-bar__svg--searh path {
    fill: #5474fd; 
    }
  .guide-bar__svg--check path {
    fill: #ff6363; 
    }
  .guide-bar__svg--like path {
    fill: #00a2ff; 
    }

.gallery {
  height: 1402px;
  width: 100%; 
  }
  .gallery__book-one {
    background-image:url('../../img/house-bg.png');
    height: 700px;
    background-size: cover;
    margin-bottom: 1px;
    padding-top: 150px; 
    }
  .gallery__book-two {
    background-image:url('../../img/sea-bg.png');
    height: 700px;
    background-size: cover;
    margin-bottom: 1px;
    padding-top: 150px; 
    }
  .gallery__wrapper {
    display: flex;
    align-items: center;
    height: 100%; 
    }
  .gallery__info {
    display: flex;
    flex-direction: column;
    height: 370px;
    width: 540px;
    padding: 50px 30px;
    background-color: #302c28;
    opacity: 0.9;
    font-size: 20px;
    font-family: 'Josefin Sans', Arial, sans-serif;
    color: #ffff; 
    }
    .gallery__info--left {
      left: 0; 
      }
    .gallery__info--right {
      margin-left: auto;
      margin-right: 0; 
      }
  .gallery__name {
    letter-spacing: 0.075em;
    padding-bottom: 30px; 
    }
  .gallery__title {
    text-transform: uppercase;
    padding-bottom: 25px; 
    }
  .gallery__text {
    font-size: 16px;
    padding-bottom: 50px;
    color: #e8e8e8;
    line-height: 1.63;
    }
  .gallery__button {
    font-size: 14px;
    color: #ffff;
    text-transform: uppercase;
    width: 225px;
    height: 60px;
    background-color: #5474fd;
    opacity: 0.9;
    font-size: 16px;
    font-family: 'Aleo-Regular', Arial, sans-serif;
    letter-spacing: 0.075em;
    cursor: pointer; 
    }

.tourist {
  height: 730px;
  background-image:url('../../img/bottom-bg.png'); 
  }
  .tourist__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    max-width: 1140px;
    width: 100%;
    font-family: 'Aleo-Regular', Arial, sans-serif;
    color: #ffff; 
    }
  .tourist__header {
    font-size: 36px;
    padding-bottom: 100px; 
    }
  .tourist__slider {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px; 
    }
  .tourist__photo {
    width: 40%;
    object-fit: cover; 
    }
    .tourist__photo img {
      height: 100%;
      width: 100%; 
      }
  .tourist__description {
    width: 60%;
    background-color: #333333;
    padding: 50px; 
    }
  .tourist__username {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 32px; 
    }
  .tourist__feedback {
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.63;
    color: #e8e8e8;
    text-indent: 20px; 
    }
  .tourist .fa-quote-left:before {
    font-size: 20px;
    color: #5474fd; 
    }
  .tourist__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 175px;
    height: 52px;
    margin-left: auto;
    margin-right: 0; 
    }
  .tourist__button {
    cursor: pointer;
    width: 82px;
    height: 100%;
    border: solid 1px #ffff; 
    }
    .tourist__button:hover {
      background: #224bfc; 
      }
  .tourist .fa-chevron-left:before,
  .tourist .fa-chevron-right:before {
    font-size: 20px;
    color: #ffff; 
    }

.footer {
  height: 100%;
  background-color: #232323; 
  }
  .footer__wrapper {
    max-width: 175px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;
    font-family: 'Josefin Sans', Arial, sans-serif;
    color: #ffff; 
    }
  .footer__title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px; 
    }
  .footer__subtitle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px; 
    }
  .footer__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px; 
    }
    .footer__socials a {
      font-size: 17px;
      color: #ffff; 
      }
      .footer__socials a:nth-of-type(3n) {
        color: #5474fd; 
        }